<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Men_Page</title>
	
	
	
	
	<link href="Style_sheet_Index.css" rel="stylesheet" type="text/css">
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	 <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	
</head>
<body>
	<!--
	 	 --
	 		 -->
	<!---------------------Top--------------------->
	<!--
	 	 --
	 		 -->
	

	
	
	<!--
	 	 --
	 		 -->
	<!---------------------container_logo--------------------->
	<!--
	 	 --
	 		 -->

	
	
	
	
	
	
	<!--
	 	 --
	 		 -->
	<!---------------------container_nav--------------------->
	<!--
	 	 --
			  -->
	
	
	 <nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top ">
    <div class="container-fluid">
     <a class="navbar-brand nav-link bg-danger" href="index.html" style="font-family:MV Boli;font-size: 200%">Fashion Maker</a>
      <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#Navbar" >
      		Menu
      		<span class="navbar-toggler-icon"></span>
      </button>
      <div class="container collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav text-uppercase ml-auto ">
          <li class="nav-item mr-3">
				<a class="nav-link" href="Sale.html">Sale</a></li>
			<li class="nav-item mr-3">
				<a class="nav-link" href="Winter Collection.html">Winter Collection</a></li>
			<li class="nav-item mr-3">
				<a class="nav-link" href="Unstiched.html">Unstiched</a></li>
			
			<li class="nav-item mr-3">
				<a class="nav-link" href="New Arrivals.html">New Arrivals</a></li>
			<li class="nav-item mr-3">
				<a class="nav-link" href="Men.html">Men</a></li>
			<li class="nav-item mr-3">
				<a class="nav-link" href="Fragrances.html">Fragrances</a></li>			
        </ul>
		  		<a class="btn btn-primary float-right" href="Login_form.html">Sign In</a>
      </div>
    </div>
  </nav>
	
	<!--
	 	 --
	 		 -->
	<!---------------------Banner--------------------->
	<!--
	 	 --
			  -->
	
	
	

	
		<div class="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active my-1">
					<img src="Images/Unstitched29102019.png" class="img-fluid">
				</div>
			</div>		 
		</div>
	
	
	

	<!--
	 	 --
	 		 -->
	<!---------------------Page_content--------------------->
	<!--
	 	 --
			  -->
	<div class="row mt-1">
		<div class="h3 col-sm-12 text-dark text-center" style="font-family: MV Boli;">
			New Arrivals
		</div>
	</div>
	<div class="container-fluid mt-4">
		 <div class="row">
			 
			 <!---------------------left-side--------------------->
			 <div class="mt-5 navbar-expand-lg col-lg-2">				 
			 	<ul class="nav flex-column collapse navbar-collapse">
					<h2 class="text-primary">Cetagries</h2>
					<li>
						<a href="Index.html" class="nav-link text-dark">Best Sellers</a></li> 
					<li>
						<a href="#" class="nav-link text-dark -dark">Evening Edits</a></li> 
					<li>
						<a href="#" class="nav-link text-dark -dark">Monochrome Edit</a></li> 
					<li>
						<a href="#" class="nav-link text-dark -dark">Tights</a></li> 
					<li>
						<a href="#" class="nav-link text-dark -dark">Pants</a></li> 
					
				
				</ul>
			 </div>
			 
			 
			 <!---------------------Product--------------------->
	<div class="col-lg-10">		 
		<div class="row">	 
			 
			 <!---------------------Product--------------------->
	  	 <div class="mb-4 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">
				<a href="details.html">
					<img class="card-img-top" src="https://www.khaadi.com/media/catalog/product/cache/d734f07d211951b6f87f0a2e4777b5dd/e/t/ete195119_orange_4.jpg" alt="">
				</a>
			  </div>
              <div class="card-body">
                <div class="card-title h4">
                  <a href="details.html">Item One</a>
                </div>
                <h5 class="text-dark">$24.99</h5>
                <div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 		  
				</div>
              </div>
              <div class="card-footer">
                  <span class="text-warning h4">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				  <a href="details.html" class="btn btn-success float-right btn-sm">Buy Now</a>
              </div>
            </div>
          </div>
			 
			 
			 
				 <!---------------------Product--------------------->
	  	 <div class="mb-4 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">
				<a href="details.html">
					<img class="card-img-top" src="https://www.khaadi.com/media/catalog/product/cache/d734f07d211951b6f87f0a2e4777b5dd/e/t/ete195125_blue_3pc__5.jpg" alt="">
				</a>
			  </div>
              <div class="card-body">
                <div class="card-title h4">
                  <a href="details.html">Item One</a>
                </div>
                <h5 class="text-dark">$24.99</h5>
                <div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 		  
				</div>
              </div>
              <div class="card-footer">
                  <span class="text-warning h4">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				  <a href="details.html" class="btn btn-success float-right btn-sm">Buy Now</a>
              </div>
            </div>
          </div>
			 
			 
			 
			  <!---------------------Product--------------------->
	  	 <div class="mb-4 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">
				<a href="details.html">
					<img class="card-img-top" src="https://www.khaadi.com/media/catalog/product/cache/d734f07d211951b6f87f0a2e4777b5dd/e/t/ete195121_mustard_3pc__4.jpg" alt="">
				</a>
			  </div>
              <div class="card-body">
                <div class="card-title h4">
                  <a href="details.html">Item One</a>
                </div>
                <h5 class="text-dark">$24.99</h5>
                <div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 		  
				</div>
              </div>
              <div class="card-footer">
                  <span class="text-warning h4">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				  <a href="details.html" class="btn btn-success float-right btn-sm">Buy Now</a>
              </div>
            </div>
          </div>
			 
			 
			 
				 <!---------------------Product--------------------->
	  	 <div class="mb-4 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">
				<a href="details.html">
					<img class="card-img-top" src="https://www.khaadi.com/media/catalog/product/cache/d734f07d211951b6f87f0a2e4777b5dd/k/d/kd19505r_blue_2_.jpg" alt="">
				</a>
			  </div>
              <div class="card-body">
                <div class="card-title h4">
                  <a href="details.html">Item One</a>
                </div>
                <h5 class="text-dark">$24.99</h5>
                <div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 		  
				</div>
              </div>
              <div class="card-footer">
                  <span class="text-warning h4">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				  <a href="details.html" class="btn btn-success float-right btn-sm">Buy Now</a>
              </div>
            </div>
          </div>
			
			
			 <!---------------------Product--------------------->
	  	 <div class="mb-4 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">
				<a href="details.html">
					<img class="card-img-top" src="https://www.khaadi.com/media/catalog/product/cache/d734f07d211951b6f87f0a2e4777b5dd/k/n/kn19505_blue_2_.jpg" alt="">
				</a>
			  </div>
              <div class="card-body">
                <div class="card-title h4">
                  <a href="details.html">Item One</a>
                </div>
                <h5 class="text-dark">$24.99</h5>
                <div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 		  
				</div>
              </div>
              <div class="card-footer">
                  <span class="text-warning h4">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				  <a href="details.html" class="btn btn-success float-right btn-sm">Buy Now</a>
              </div>
            </div>
          </div>
			 
			 
			 
				 <!---------------------Product--------------------->
	  	 <div class="mb-4 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">
				<a href="details.html">
					<img class="card-img-top" src="https://www.khaadi.com/media/catalog/product/cache/d734f07d211951b6f87f0a2e4777b5dd/k/n/kn19506_purple_2_.jpg" alt="">
				</a>
			  </div>
              <div class="card-body">
                <div class="card-title h4">
                  <a href="details.html">Item One</a>
                </div>
                <h5 class="text-dark">$24.99</h5>
                <div class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. 		  
				</div>
              </div>
              <div class="card-footer">
                  <span class="text-warning h4">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
				  <a href="details.html" class="btn btn-success float-right btn-sm">Buy Now</a>
              </div>
            </div>
          </div>
			 
			 
			 
			</div> 
		</div>	 
	  </div>
	</div>
	
	
	
	<!--
	 	 --
	 		 -->
	<!---------------------FOOTER--------------------->
	<!--
	 	 --
	 		 -->
	
	
	
	
	
	
    <div class="container-fluid bg-dark contact-us">
      <div class="container">
        <div class=" text-center pt-4">
          <h1 class="text-uppercase text-light">Contact Us</h1>
          <h6 class=" text-light">Lorem ipsum dolor sit amet consectetur.</h6>
        </div>
      <div class="row">
        <div class="col-sm-12">
          <form class="mt-4">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control"  type="text" placeholder="Your Name *" required="required" >                 
                </div>
                <div class="form-group">
                  <input class="form-control"  type="email" placeholder="Your Email *" required="required" >
                </div>
                <div class="form-group">
                  <input class="form-control"  type="tel" placeholder="Your Phone *" required="required" >               
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Your Message *" required="required" ></textarea>  					
                </div>
				  <div id="team" class="">
		
					<label class="h4 text-light">FOLLOW US:</label>
						<ul class="nav navbar icon">
							<li class="nav-item"><a class="nav-link text-light" href="https://www.facebook.com/j.junaidjamshed">
								<i class="fab fa-facebook-f"></i></a></li>
							<li class="nav-item"><a class="nav-link text-light" href="https://www.facebook.com/j.junaidjamshed">
								<i class="fab fa-twitter"></i></a></li>
							<li class="nav-item"><a class="nav-link text-light" href="https://www.facebook.com/j.junaidjamshed">
								<i class="fab fa-linkedin-in"></i></a></li>
							<li class="nav-item "><a class="nav-link text-light" href="https://www.facebook.com/j.junaidjamshed">
								<i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>
              </div> 				
              <div class="col-sm-12 text-center mb-3">
                <button  class="btn btn-xl btn-primary  text-uppercase" type="submit">Send Message</button>
              </div>					
            </div>
          </form>
        </div>
      </div>
    </div>
   </div>
  
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		
	
	
	
	
<footer class="footer bg-dark">
    <div class="container-fluid row text-center pt-3">
       <div class="col-md-6 text-light">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
       
        <div class="col-md-6 ">
          <ul>
            <li class="list-inline-item">
              <a class="text-light" href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item ">
              <a class="text-light" href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
   
  </footer>
	
	
	
	
	
	
	
	
	<!--
	 	 --
	 		 -->
	<!---------------------container_Footer--------------------->
	<!--
	 	 --
			  -->
	
	
	
	  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 
	 
</body>
</html>
